<h1>Replace a word in a sentence</h1>
<form action="/find">
  <label for="userInput">Enter a Sentence</label>
  <input id="userInput" type="text" name="userInput" >
  <label for="findWord">Enter the word you wnat to replace</label>
  <input id="findWord" type="text" name="findWord" >
  <label for="replaceWord">Enter the new word</label>
  <input id="replaceWord" type="text" name="replaceWord" >
  <button type="submit" name="button">send</button>
</form>
